:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  color: var(--slate);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul,
ol {
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid var(--cornflower);
}

.container {
  display: flex;
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}

nav .menu {
  display: flex;
  gap: 40px;
}

.menu-item a {
  padding: 24px 0;
}

.contacts {
  display: flex;
  gap: 40px;
}

.contact-item a {
  padding: 24px 0;
}

.hero {
  padding: 188px 0;
  background-color: var(--navy-blue);
  text-align: center;
}

.title {
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto 72px;
}

.sub-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.title-button {
  display: block;
  background-color: var(--iris);
  color: var(--white);
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}

.title-button:hover,
.title-button:focus {
  background-color: var(--ocean);
}

.section {
  padding: 188px 0;
}

.sub-title-two {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.portfolio-item {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
}

.footer {
  padding: 100px 0;
  background-color: var(--navy-blue);
}

.footer .logo-studio {
  color: var(--cloud);
}

.footer .footer-links {
  display: flex;
  gap: 40px;
}

.footer-link-item a {
  display: inline-block;
  margin-bottom: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
