:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  color: var(--slate);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul,
ol {
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.title {
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  color: var(--white);
}

.sub-title-two {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.sub-title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: var(--navy-blue);
}

.small-text {
  font-family: inherit;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
}

.body-medium {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.button-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-studio,
.link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.link:hover,
.link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

.address {
  font-style: normal;
}

.address-link {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.hero {
  background-color: var(--navy-blue);
}

.title-button {
  background-color: var(--iris);
  color: var(--white);
  cursor: pointer;
}

.title-button:hover,
.title-button:focus {
  background-color: var(--ocean);
}

.section-two {
  background-color: var(--cloud);
}

.list-item {
  background-color: #ffffff;
}

.footer {
  background-color: var(--navy-blue);
}

.footer .logo-studio {
  color: var(--cloud);
}

.footer .text {
  color: var(--cloud);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.nav-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-web {
  margin-right: 76px;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu .list-item {
  margin-right: 40px;
}

.menu .list-item:last-child {
  margin-right: 0;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-list .list-item {
  margin-right: 40px;
}

.contacts-list .list-item:last-child {
  margin-right: 0;
}

.link,
.address-link {
  padding: 24px 0;
}

.section {
  padding-top: 188px;
  padding-bottom: 188px;
}

.title {
  max-width: 496px;
  margin-bottom: 72px;
}

.button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.list .list-item {
  margin-right: 24px;
}

.list .list-item:last-child {
  margin-right: 0;
}

.list .list-item:first-child {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
}

.container .title {
  margin-bottom: 8px;
}

.list {
  column-gap: 24px;
  row-gap: 48px;
}

.footer .link {
  display: inline-block;
  margin-bottom: 16px;
}
